
.divlogin
{
    margin-left:30%;
    margin-top:2%;
    margin-right:30%;
    border:3px solid #C6E2FC;
    padding:3%;
    border-radius:10px;
    background:white;

}
.divgeneral{
    background:#C6E2FC;

}

.separacion{
    margin-left:5%;

}